@font-face {
    font-family: TTcomm;
    src: url(../img/TT\ Commons\ Regular.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: TTcomm !important;
}
a{
    text-decoration: none !important;
    color: white !important;
}

nav {
    position: fixed !important;
    z-index: 1111;
    width: 100% !important;
}

.dropdown-menu>li:hover {
    background-color: rgba(255, 255, 255, 0.788) !important;
    color: black !important;
}

.nav-link {
    font-size: 1.1rem !important;
    font-weight: 600;
}

.nav-src-bar {
    height: 18px !important;
    width: 18px !important;
    margin-top: 10px
}

.btn-frf {
    font-size: 1em !important;
    font-weight: 700 !important;
    letter-spacing: .5px !important;
}

.btn-tff:hover,
.btn-frf:hover {
    background-color: rgba(0, 0, 0, 0.411) !important;
    color: rgba(201, 201, 201, 0.548) !important;
}

.btn-vp:hover {
    background-image: linear-gradient(to right, #f05a28a8, #ec008ea6, #F05A28);
    background-size: 300% 100%;
    transition: all .6s ease-in-out !important;
}

.top-dem {
    height: 130px !important;
    background-color: black;
}

.first-block .main {
    position: relative !important;
}

.main .inner-container {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 10em;
    bottom: 0;
    margin: auto;
}

.header-b1 {
    font-weight: 600 !important;
    /* letter-spacing: 1rem !important; */
}

.btn-vp {
    background-image: linear-gradient(to right, #F05A28, #EC008C, #F05A28);
    background-size: 300% 100%;
    transition: all .6s ease-in-out;

}

.btn-tff,
.btn-vp {
    font-size: 15px !important;
    letter-spacing: 0.5px !important;
    padding: 1em 1em !important;
    min-width: 150px;
}

/* block 1 */
.block-2 {
    background-color: black;
}

/* line */
.line-container {
    background-color: #000;
}

.line {
    margin: 0px auto;
    width: 0%;
    height: 150px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #EC008C, #F15B2A, rgba(0, 0, 0, 0)) 1 100%;
}

/* block 4 */
.block-4 {
    /* background-image: url(/content/dam/pluralsight2/homepage/2022/bkgd-triangle-right.png),
        url(/content/dam/pluralsight2/homepage/2022/bkgd-triangle-right2.png),
        url(/content/dam/pluralsight2/homepage/2022/bkgd-triangle-left.png) !important;
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: bottom right,
        right,
        left;
    background-size: contain; */
    background-color: #000;
}

.container-block-4 {
    margin: 0 auto;
    width: 65%;
}

.container-block-4 .p1,
.container-block-4 .card-header,
.p1,
.left-arrow {
    color: #E40084 !important;
    font-weight: 600 !important;
    letter-spacing: .1em;
}

/* block 5 */
.img-skills-5 {
    max-height: 30px !important;
}

.block-5 {
    background-color: #181818 !important;
}

.block-5 .card {
    background-color: #222 !important;
}

.text-block-p2 {
    color: #eee !important;
}

/* block-6 */
.block-6 {
    background-color: #181818 !important;
}

.block-6 .card {
    background-color: #222 !important;

}

/* block-7 */
.block-7 {
    background-color: #000 !important;
    color: #fff !important;
}

.block-7 .card {
    background-color: #000 !important;
}

/* block 8 */
.block-8 .card {
    width: 100% !important;
    border: 0 !important;
}

.block-8 .card .col-lg-7 p {
    color: rgba(0, 0, 0, 0.5) !important;
}

.b-8-img1 {
    position: relative;
    color: rgba(0, 0, 0, 0.911) !important;

}

.b-8-img1 p {
    color: rgba(0, 0, 0, 0.5) !important;
}

.block8-left-img {
    height: 100% !important;
    background-size: cover !important;
}

.b-8-img1 .left-text-8 {
    position: absolute;
    left: 1em;
    top: 1em;
    color: #fff !important;

}

.block8-right-img {
    max-width: 28em !important;

}

.container-block-4 .card,
.card-header {
    position: relative;
    background-color: #212529 !important;
}

.block-img-card {
    position: absolute;
    top: -1rem;
    right: -1rem;
    height: auto;
    width: 8rem;
}

/* block 9 */
.block-9 {
    background-color: #000 !important;
    overflow: hidden !important;
}

.block-9 .card {
    position: relative !important;
}

.block-9 .img-overlay {
    position: absolute !important;
    top: 1.4em !important;
    overflow: hidden !important;
}

.block-9 .card-img {
    background-size: contain !important;
}






/* media query */
@media screen and (max-width:1300px) {
    .main .inner-container {
        position: absolute !important;
        left: 0;
        right: 0;
        top: 6em;
        bottom: 0;
        margin: auto;
    }


}

@media screen and (max-width:1260px) {
    .block8-right-img {
        max-width: 22em !important;

    }

    .block-9 .img-overlay {
        position: absolute !important;
        top: -2em !important;
    }

    .block-9 .img-overlay img {
        max-width: 10em;
    }

}

@media screen and (max-width:860px) {
    .main .inner-container {
        position: absolute !important;
        left: 0;
        right: 0;
        top: 5em;
        bottom: 0;
        margin: auto;
    }

    .block-2 p {
        font-size: 16px;
    }

    .block-9 .img-overlay img {
        max-width: 10em;
    }

    .block-9 .img-overlay .b9-p2 {
        font-size: 13px !important;
    }

    .block-9 .col-lg-6 .btn-tff {
        padding: .2rem 1rem !important;
        margin-top: 0 !important;
    }

    .block-9 .img-overlay p {
        padding: 0 !important;
        margin-bottom: 1rem !important;
    }

    .block-9 .img-overlay {
        text-align: center;
    }

}

@media screen and (max-width:576px) {
    .main .inner-container {
        position: absolute !important;
        left: 0;
        right: 0;
        top: .3em;
        bottom: 0;
        margin: auto;
    }

    .block-2 p {
        font-size: 13px;
    }

    .col-lg-5 .block-8-right {
        margin: 0px 1em !important;
    }

    .block8-right-img {
        max-width: 20em !important;

    }

    .block-9 .img-overlay img {
        max-width: 6em;
    }

    .block-9 .img-overlay p {
        padding: 0 !important;
        margin-bottom: .3rem !important;
    }

    .block-9 .col-lg-6 .btn-tff {
        padding: 0rem 1rem !important;
    }

}